/* navbar */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
}


nav {
  border-bottom: 2px solid rgb(100, 100, 100);
  padding: 20px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.34);

}

nav div span {
  font-size: 30px;
  cursor: pointer;
  font-weight: 900;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

nav div ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  font-size: medium;
}

nav div ul li {
  cursor: pointer;
}

nav div ul li:hover {
  text-decoration: underline;
}

nav div p {
  cursor: pointer;
  padding: 15px;
  border: 1px solid rgb(129, 129, 129);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

header {
  width: 100%;
  height: 400px;
  background-color: rgb(0, 172, 172);
  margin-top: 85px;
}

main {
  width: 100%;
  height: 800px;
  background-color: rgba(0, 0, 255, 0.803);
}

footer {
  width: 100%;
  height: 600px;
  background-color: rgba(26, 255, 0, 0.621);
}
