@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Outfit:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: aliceblue;
}

nav {
  background-color: rgb(0, 27, 35);
  padding: 100px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

nav h1 {
  color: white;
  font-size: 3rem;
}
nav p {
  color: rgb(183, 183, 183);
  font-size: 0.9rem;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 80px 20px;
  gap: 10px;
  margin: 20px 100px;
}

.sections {
  background-color: white;
  padding: 10px 10px;
  color: rgb(88, 88, 88);
  font: lighter;
  min-width: 50%;
  text-align: center;
}

.about {
  background-color: white;
}

.about h2 {
  font-size: 2rem;
}

.about p {
  font: lighter;
  color: rgb(95, 95, 95);
}

.education {
  background-color: rgb(181, 236, 255);
}

.education h2 {
  font-size: 2rem;
}

.skills {
  background-color: rgb(255, 234, 170);
}

.skills h2 {
  font-size: 2rem;
}

.projects {
  background-color: rgb(228, 200, 255);
}

.contactMe {
  background-color: rgb(201, 255, 237);
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 20px;
  background-color: rgb(21, 18, 41);
  color: white;
}
