* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  color: white;
  background-color: black;
}

#main {
  height: 100%;
  width: 100%;
  background-color: lightblue;
  padding: 30px;
}

#card {
  height: 300px;
  width: 350px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  transition: all ease 0.5s;
}

#card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#card #button {
  height: 40%;
  width: 100%;
  /* background-color: red; */
  background: linear-gradient(transparent, black);
}

.bottom {
  height: 40%;
  width: 100%;
  position: absolute;
  bottom: -40%;
  background: linear-gradient(transparent, black);
  transition: all linear 0.2s;
}

/* #card:hover {
  transform: scale(1.2);
} */

/* #card:active {
  transform: scale(0.9);
} */
/* #card:hover img {
  rotate: 15deg;
} */
/* #card:hover .bottom {
    background: linear-gradient(white, lightseagreen);
} */

#card:hover .bottom {
  bottom: 0;
}

/* dribbble */